<div class="palettes">
  <h2>Listado de paletas:</h2>
  <ul class="palettes__list js-list-palettes">
    <li>
      <h2>Space Ship 1</h2>
      <div class="palette__colors">
        <div class="palette__color" style="background-color: #ffbf2e"></div>
        <div class="palette__color" style="background-color: #e85e0c"></div>
        <div class="palette__color" style="background-color: #ff0000"></div>
        <div class="palette__color" style="background-color: #c70ce8"></div>
        <div class="palette__color" style="background-color: #330dff"></div>
      </div>
    </li>
  </ul>
</div>
