.encabezado {

    position: fixed;
    background-color: blueviolet;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

}

main {
    position: relative;
    top: 100px;
}