.body {

    height: 100vh;

}

.orange {
    background-color: #ff9900;
}

.yellow {
    background-color: #ffcc00;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
}

.text {
    font-size: 100px;

}

.select {

    padding: 10px 0;
    width: 100px;
    border-radius: 15px;
    border: none;
    font-weight: bold;

}

.update {
    width: 80px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-left: 5px;
    color: white;
    background-color: #3c76c9;
    font-weight: bold;
}